body
{
    color: #333;
    text-align: center;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#cabecera{
    color: #353549;
    background: royalblue;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-image: url("../img/spacex.png");
    background-position: center;
    background-repeat: no-repeat;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 21px;
}